div.blocker-wrapper.content.is-shown
    div#blocker-clock.blocker-clock
        .blocker-clock-left
            button#blocker-restart.button.top
                img.unselectable(src="../images/refresh.svg", alt="Play", height="48", width="48")
        #blocker-clock-middle.blocker-clock-middle
        .blocker-clock-right
            button#blocker-start.button.top
                img#play-pause-button.unselectable(src="../images/play.svg", alt="Play", height="48", width="48")
    div.blocker-settings