head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Calendar
  link(rel='stylesheet' href='calendar.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
body    

    .calendar-container
        .calendar-calendar-main
            .calendar-month
            i.fas.fa-angle-left.prev
            .calendar-date
                h1
                p
            i.fas.fa-angle-right.next
            .calendar-weekdays
            div Sun
            div Mon
            div Tue
            div Wed
            div Thu
            div Fri
            div Sat
            .calendar-days
        script(src='calendar.js')
